/* Globale Stile */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
   
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  nav ul li a:hover {
color: rgb(133, 146, 168);
  }
  
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }

  h1 {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-left: -20px;
  }
  
  /* Medienabfragen für responsives Design */
  @media (max-width: 768px) {
    nav ul li {
      display: block;
      margin-bottom: 10px;
    }
  }
  canvas {
    border: 5px solid black; /* Umrandung für das Spielfeld */
    max-width: 600px; /* Maximale Breite des Spielfeldes */
    max-height: 600px; /* Maximale Höhe des Spielfeldes */
  }
  #startButton {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #3b8a55;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 20px; /* Button nach rechts */
    position: absolute;
    top: 1704px;
    outline: 3px solid #000000;
  }

  #obstacleButton {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #3b8a55;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 20px; /* Button nach rechts */
    position: absolute;
    top: 1060px;
    outline: 3px solid #000000;
  }
  #score {
    position: absolute;
    left: 52%;
    padding: 10px;
    top: 1146px;
    font-size: 30px;
    outline: 4px solid #000000;
    outline-offset: 2px;
  }
  #highscore {
    position: absolute;
    padding: 10px;
    left: 83%;
    top: 250px;
    font-size: 30px;
    outline: 4px solid #000000;
    outline-offset: 2px;
  }
  #levelCompleted {
    position: absolute;
    top: 150%;
    left: 33%;
    transform: translate(-50%, -50%);
    font-size: 35px;
    color: green;
  } canvas {
    border: 5px solid black; /* Umrandung für das Spielfeld */
    max-width: 600px; /* Maximale Breite des Spielfeldes */
    max-height: 600px; /* Maximale Höhe des Spielfeldes */
  }
  #startButton {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #3b8a55;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 20px; /* Button nach rechts */
    position: absolute;
    top: 1704px;
    outline: 3px solid #000000;
  }

